<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<style>
    .h2 {
        color: red;
    }

    .pre {
        font-size: 17px;
        line-height: 27px;
        font-family: "굴림";
    }

    .li {
        line-height: 25px;
    }

    .h1 {
        text-align: center;
    }
</style>
<body>
<img src="/img/심볼마크%20사본.jpg" alt=""/>
<h1 class="h1">김영현의 이력서 페이지</h1>
<hr/>
<h2>💻0Chord | 상상하는 개발자</h2>
<p>안녕하세요! 지나온 길에 발자국을 남기고 싶은 백엔드 개발자 김영현입니다.</p>
<h2 class="h2">☎️Contacts.</h2>
<h3>😁 김영현</h3>
<h3>📧 seaweed.0chord@gmail.com</h3>
<br/>
<h2 class="h2">Channels.</h2>
<h3>Github. <a href="https://github.com/0Chord">https://github.com/0Chord</a></h3>
<h3>Algorithm. <a href="https://www.acmicpc.net/user/kimchiwarrior">https://www.acmicpc.net/user/kimchiwarrior</a></h3>
<hr/>
<h2 class="h2">Introduce.</h2>
<pre class="pre">
안녕하세요! 실패를 통해 성장하는 백엔드 개발자 김영현입니다.
도전을 실패하더라도 낙담하지 않고 그 실패 원인을 분석하며 다음에 도전할 때는 그 실패를 다시 겪으려고 하지 않으며
또 실패하더라도 그 전보다는 더 향상된 결과를 내려고 노력하고 있습니다.

1일 1커밋 운동을 실천하고 있습니다. 강의를 수강하고 배운 내용을 기초로 프로젝트를 진행하며 체득하려고 하고 있습니다.
아직 실력이 부족하지만 어제보다 더 나은 내일을 위해 학습하고 있으며 정도를 걸으려고 노력하고 있습니다.
현재, 객체지향 설계와 MSA를 학습하고 있습니다.
</pre>
<hr/>
<br/>
<h2 class="h2">Hobby.</h2>
<pre class="pre">
도보 맛집 여행을 좋아합니다.
산책을 걸으며 사색에 잠겨 생각을 정리하는 시간을 즐기고 좋아합니다.
</pre>
<hr/>
<br/>
<h2 class="h2">Skill.</h2>
<pre class="pre">
Back-End : Spring, Spring Boot, SSE, Kafka, Spring Cloud, JPA
Database : MySQL
Language : Java, JavaScript, Python
</pre>
<hr/>
<br/>
<h2 class="h2">Project.</h2>
<h3>CRUDBoard (2022.09.21 ~ 2022.09.28)</h3>
<a href="https://github.com/0Chord/crudBoard">https://github.com/0Chord/crudBoard</a>
<ul>
    <li class="li">김영한님의 “스프링 입문 - 코드로 배우는 스프링 부트, 웹 MVC, DB 접근 기술”을 수강하며 수강한 내용을 바탕으로 프로젝트 진행</li>
    <li class="li">CRUDBoard 프로젝트를 통해 CRUD, REST API의 개념과 이해 그리고 MVC 패턴과 DB 접근에 대해 이해하고 능숙해지고자 시도</li>
</ul>
<h3>AccountBook (2022.09.28 ~ 11.25)</h3>
<a href="https://github.com/0Chord/accountBook">https://github.com/0Chord/accountBook</a>
<ul>
    <li class="li">AccountBook 프로젝트를 통해 API 통신, 외부 라이브러리를 활용한 웹 페이지 CSS 적용에 대해 깨닫고 적용해보고자 프로젝트를 진행</li>
    <li class="li">가계부 기능을 만들며 로그인, 카카오 로그인 API 연동 등 원하는 기능들을 추가하며 프로젝트 진행</li>
</ul>
<h3>Authentication System Sgdevcamp-private-project ( 2022.12.01 ~ 12.31)</h3>
<a href="https://github.com/0Chord/sgdevcamp_private_project_auth_server">https://github.com/0Chord/sgdevcamp_private_project_auth_server</a>
<br/>
<a href="https://github.com/0Chord/sgdevcamp_private_project_auth_view_server">https://github.com/0Chord/sgdevcamp_private_project_auth_view_server</a>
<ul>
    <li class="li">스마일게이트 개인프로젝트 중 인증 시스템 프로젝트를 선정하여 프로젝트를 진행</li>
    <li class="li">JWT를 기반으로 인증시스템을 설계하여 프로젝트를 진행</li>
    <li class="li">Authentication System 프로젝트를 통해 서버간 API 통신, JWT 로그인, 인증과정, Cookie, Email 인증을 학습하며 적용</li>
</ul>
<h3>Instagram-Clone Sgdevcamp-Team-Project (2022.01.01 ~ 2022.02.23)</h3>
<a href="https://github.com/sgdevcamp2022/jikji">https://github.com/sgdevcamp2022/jikji</a>
<ul>
    <li class="li">팀 프로젝트 주제로 인스타그램 클론 코딩을 선정하여 프로젝트를 진행</li>
    <li class="li">User-Service, Authentication-Service, Notification-Service, Infra 담당</li>
    <li class="li">Notification-Service에서 요청 서버간 통신을 위해 Rest API, Kafka 활용</li>
    <li class="li">Infra에서 MSA를 위해 Spring Clound + Netflix Eureka 활용</li>
    <li class="li">CSR(ex. React)과 서버간 연결 이해</li>
</ul>
<hr/>
<br/>
<h2 class="h2">Awards.</h2>
<h3>제 2차 충북대학교 SW중심사업단 프로그래밍 경진대회 장려상 수상</h3>
<hr/>
<br/>
<h2 class="h2">Private Study.</h2>
<h3>인프런 수강</h3>
<ul>
    <li class="li">Node.js 교과서 - 기본부터 프로젝트 실습까지</li>
    <li class="li">모던 자바스크립트(javascript) 개발을 위한 ES6 강좌</li>
    <li class="li">팀 개발을 위한 Git, GitHub 입문</li>
    <li class="li">스프링 입문 - 코드로 배우는 스프링 부트, 웹 MVC, DB 접근 기술</li>
    <li class="li">스프링 핵심 원리 - 기본편</li>
    <li class="li">자바 ORM 표준 JPA 프로그래밍 - 기본편</li>
    <li class="li">모든 개발자를 위한 HTTP 웹 기본 지식</li>
    <li class="li">Spring Cloud로 개발하는 마이크로서비스 애플리케이션(MSA)</li>
</ul>
<h3>도서</h3>
<ul>
    <li class="li">[SQL 첫걸음: 하루 30분 36강으로 배우는 완전 초보의 SQL 따라잡기] 1회 완독</li>
    <li class="li">[자바의 정석] 1회 완독</li>
    <li class="li">[파이썬으로 쉽게 풀어 쓴 자료구조] 1회 완독</li>
    <li class="li">[객체지향의 사실과 오해] 1회 완독</li>
    <li class="li">[웹 개발자를 위한 대규모 서비스를 지탱하는 기술] 1회 완독</li>
</ul>
<hr/>
<br/>
<h2 class="h2">Education.</h2>
<h3>충북대학교 정보통신공학부 2018.03~ 3학년 재학중</h3>
<h3>스마일게이트 윈터데브캠프 2기 2022.11.28~ 2023.02.24 수료</h3>
<hr/>
</body>
</html>